name: Check for updated OpenAPI specs
on:
  schedule:
    - cron: "27 3 * * 1-5"
  workflow_dispatch:
    inputs:
      updateBranchName:
        description: "Branch to update OpenAPI specs"
        type: string
        default: update-openapi

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      UPDATE_BRANCH_NAME: ${{ inputs.updateBranchName || vars.UPDATE_BRANCH_NAME || 'update-openapi' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - name: Checkout update branch
        run: |
          git fetch
          git switch ${{env.UPDATE_BRANCH_NAME}} 2>/dev/null || git switch -c ${{env.UPDATE_BRANCH_NAME}}
          git rebase "${{ github.ref_name}}" "${{env.UPDATE_BRANCH_NAME}}"
      - name: Update OpenAPI
        id: update_openapi
        run: ./scripts/update.sh
      - name: Count commits
        id: count_commits
        run: |
          COMMITS=$(git rev-list --count ${{ github.ref_name}}..${{env.UPDATE_BRANCH_NAME}})
          echo "count=$COMMITS" >> "$GITHUB_OUTPUT"
          echo "$COMMITS commits to merge"
      - name: create pull request
        if: steps.count_commits.outputs.count > 0
        id: create_pr
        run: |
          git push --set-upstream -f origin ${{env.UPDATE_BRANCH_NAME}}
          gh pr create --base ${{ github.ref_name}} --head ${{env.UPDATE_BRANCH_NAME}} --label "update: openapi" --title "Update OpenAPI specs" --body 'Merge ${{env.UPDATE_BRANCH_NAME}} into ${{ github.ref_name}}' --fill-verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Auto-merge update
        if: steps.create_pr.outcome == 'success'
        run: |
          gh pr merge --auto --squash --subject "feat: update openapi.yaml" "${{ env.UPDATE_BRANCH_NAME }}"
        env:
          GITHUB_TOKEN: ${{secrets.GH_TOKEN}}
      - name: Cleanup
        run: |
          git switch --discard-changes "${{ github.ref_name}}"
          git branch -D ${{env.UPDATE_BRANCH_NAME}}
